.PlayerRate{
    margin: 10 auto;
    text-align: center;
}

.arrow {
    width: 60px;
    height: 60px;
    background: url('https://i.ibb.co/LvmpzKg/upload.png') no-repeat;
    background-size: contain;
    margin: 0 10px;
}

.rotate {
    transform: rotate(180deg);
}

